DATABASE_URL=postgresql://postgres:postgres@localhost:5432/portfolio_engineering_dev?schema=public
GOOGLE_CLIENT_ID=
MICROSOFT_CLIENT_ID=
FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=
VITE_GOOGLE_CLIENT_ID=
VITE_OAUTH_ORGANIZATION_SLUG=portfolio-engineering-dev
VITE_OAUTH_ORGANIZATION_NAME=Portfolio Engineering Development
